// Specific CSS for your home-page
.banner {
background-image: url('gear1.jpg');
background-size: cover;
background-position: center;
height: 560px;
padding-top: 100px;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: black;
  opacity: 0.8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.input-query{
  height: 40px;
  width: 700px;
  opacity: 0.6;

}

.fa-search{
  padding: 9px;
}
.cards-container {
  display: flex;
}
