// Import page-specific CSS files here.
@import "home";
@import "confirmation";

a:hover {
    text-decoration: none;
    opacity: 0.8;
}

h6 {
  color: #000000;
}

.camera-description{
  color: grey;
}
