.gear-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
#map {
  height: 500px;
  background-image: url("https://i.blogs.es/b4dd5c/maps/1366_2000.png");
  background-size: cover;
}
.sticky-details {
  position: sticky;
  top: 0;
}
