<div class="confirmation" >
  <div class="msg">
    <i class="fas fa-check-circle"></i>
    <h3> Your booking has been requested. </h3>
    <p class="first"> The owner has 24h to accept the request. Thank you for trusting <span class="logo">THE FAT DOLPHIN</span>!</p>
    <p> You can view your booking at your <%= link_to "profile", dashboard_path, class: "prof-link" %> page </p>
  </div>
  <div class="btn-confir d-flex justify-content-center ">
    <button type="btn" class="confir-btn col-md-4 text-center"><%= link_to "Keep Searching", root_path%></button>
  </div>
</div>


