<div class="banner">
  <div class="container">
    <h1> Convenient access to all filming equipment </h1>
    <p> Rent what you need when you need it. </p>
  </div>
  <div class="cards-container">

  </div>
</div>


<!-- style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);"> -->
