body {
  background-color: white;
  h1, h2 {
  font-family: Montserrat;
  font-weight: 700;
  }
  h3, h4, h5, h6{
  font-family: Lato;
  font-weight: 400;
  }

  p {
  font-family: Lato;
  font-weight: 300;
  text-align: justify;
  }
}
