.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // position: -webkit-sticky; /* Safari */
  // position: sticky;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-family: 'Amatic SC' ;
  font-size: 30px;
  font-weight: bold;
  color: #FE4A49;
}
